.checkout_table {
    width: 90%;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.product_details {
    border-bottom: 1px solid black;
    background-color: ghostwhite;
}

.product_details td {
    padding: 10px;
}